{% extends '../virs-base.html' %}

{% block title %}{{ title }}{% endblock title%}
{% block pageheader %}{{ title }}{% endblock pageheader%}

{% block content %}
    <table>
        <tr>
            <th>Tokens</th>
            <th>Documentos e Frequência</th>
        </tr>
        {% for token, values in tokens.items %}
        <tr>
            <td>{{ token }}</td>
            <td>
            {% for value in values %}
                <span> ---
                    {{ value.0 }} , {{ value.1 }}
                </span>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}
