{% extends '../virs-base.html' %}

{% block title %}{{title}}{% endblock title%}

{% block content %}
    <div class="row">

        <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
            <form style="margin-top: 20px;" action="{% url 'pagerank' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-4">
                    <label for="err_threshold">Limiar de Erro</label>
                    <input class="form-control" step="0.0001" type="number" name="err_threshold" value="{{ err_threshold }}">
                </div>
                <div class="col-sm-4">
                    <label for="alpha">Probabilidade de Teleporte</label>
                    <input class="form-control" step="0.01" type="number" name="alpha" value="{{ alpha }}">
                </div>
                <div class="col-sm-4">
                    <input type="submit" class="form-control btn btn-primary" value="Aplicar">
                </div>
            </form>
        </div>

        <div class="col-sm-12"><hr></div>

        {% if evolution %}

        <div class="col-lg-12">
            <div class='col-md-2 col-sm-3 col-xs-4 postings'>
                <div class="postings-line postings-token">
                    <div class='cell token'>DOC</div>
                </div>
            </div>
            <div class='col-md-10 col-sm-9 col-xs-8 postings'>
                <div class='col-sm-12 postings-line'>
                    <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                    <div class='cell df header'>PR Score</div>
                    <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                    <div class='cell header'>Documentos apontados por DOC</div>
                </div>
            </div>
        </div>

        <div class="col-lg-12"><hr></div>


        {% for graph in evolution %}

            <div class='col-lg-12' id='graph-{{ forloop.counter0 }}' style="display:none;">

                <div class='col-md-12 block'>
                    <h3 class="subtitle" style="text-align: center;">Iteração {{ forloop.counter0 }} / {{ evolution|length|add:-1 }}</h3>
                </div>

                <div class='col-md-2 col-sm-3 col-xs-4 postings'>
                    {% for doc, values in graph.items %}
                    <div class="postings-line postings-token">
                        <a href="/static/{{ sel_collection }}/{{ doc }}">
                            <div class='cell token'>
                                {{ friendly_filenames|get_item:doc }}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class='col-md-10 col-sm-9 col-xs-8 postings'>
                    {% for doc, values in graph.items %}
                        <div class='col-xs-12 postings-line'>
                            <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                            <div class='cell df'>{{ values.PR }}</div>
                            {% for ref in values.Li %}
                            <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                            <div class='cell'>{{ ref }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}

        <div class="col-lg-12 block">
            <ul class="pager">
                <li id="prevPageBtn" class="disabled"><a href="#" onclick="switchToPrevPage(event);">&larr; Iteração anterior</a></li>
                <li id="nextPageBtn"><a href="#" onclick="switchToNextPage(event);">Próxima iteração &rarr;</a></li>
            </ul>
        </div>

        {% else %}

        <div class="col-lg-12">
            <div class="block">
                <p class="obs">Selecione uma coleção ou faça upload <a href="{% url 'home' %}">aqui</a>.</p>
            </div>
        </div>

        {% endif %}

    </div>

{% endblock content %}


{% block pagescripts %}

<script>
    var currentPage = 0;
    const numPages = parseInt("{{ evolution|length }}");
    switchToPage(currentPage, currentPage);

    function switchToPage(nextPage) {
        let current = document.getElementById('graph-' + currentPage);
        let next    = document.getElementById('graph-' + nextPage);
        current.style.display   = "none";
        next.style.display      = "block";
        currentPage = nextPage
    }
    function switchToNextPage(event) {
        event.preventDefault();
        if (currentPage < numPages-1) {
            switchToPage(currentPage+1)
            let next = document.getElementById('nextPageBtn');
            let prev = document.getElementById('prevPageBtn');
            if (currentPage == numPages-1) {
                next.classList.add("disabled")
                prev.classList.remove("disabled")
            }
            else {
                next.classList.remove("disabled")
                prev.classList.remove("disabled")
            }
        }
    }
    function switchToPrevPage(event) {
        event.preventDefault();
        if (currentPage > 0) {
            switchToPage(currentPage-1)
            let next = document.getElementById('nextPageBtn');
            let prev = document.getElementById('prevPageBtn');
            if (currentPage == 0) {
                prev.classList.add("disabled")
                next.classList.remove("disabled")
            }
            else {
                prev.classList.remove("disabled")
                next.classList.remove("disabled")
            }
        }
    }

</script>

{% endblock pagescripts %}

