{% extends '../virs-base.html' %}

{% block title %}{{title}}{% endblock title%}

{% block content %}
    <div class="row">

        <div class="col-lg-12">
            <div class='col-md-2 col-sm-3 col-xs-4 postings'>
                <div class="postings-line postings-token">
                    <div class='cell token'>TERMO</div>
                </div>
            </div>
            <div class='col-md-10 col-sm-9 col-xs-8 postings'>
                <div class='col-sm-12 postings-line'>
                    <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                    <div class='cell df header'>DF</div>
                    <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                    <div class='cell header'>Frequências por Documento</div>
                </div>
            </div>
        </div>

        <div class="col-lg-12"><hr></div>

        <div class='col-lg-12'>
            <div class='col-md-2 col-sm-3 col-xs-4 postings'>
                {% for token, values in postings.items %}
                <div class="postings-line postings-token">
                    <div class='cell token'>{{ token }}</div>
                </div>
                {% endfor %}
            </div>
            <div class='col-md-10 col-sm-9 col-xs-8 postings'>
                {% for token, values in postings.items %}
                    <div class='col-xs-12 postings-line'>
                        <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                        <div class='cell df'>{{ values|length }}</div>
                        {% for value in values %}
                        <div class="cell separator"><div class="fas fa-fw fa-lg fa-long-arrow-alt-right"></div></div>
                        <div class='cell doc'>{{ friendly_filenames|get_item:value.0 }}</div>
                        <div class='cell tf'>{{ value.1 }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock content %}
