{% extends '../virs-base.html' %}

{% block title %}{{title}}{% endblock title%}

{% block content %}

    {% comment %} Content here {% endcomment %}


    {% if vsm %}

    <div class="card">

        <div style="overflow:auto;" class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <table>
                <tr>
                    <th>Termo</th>
                </tr>
                {% for term, props in vsm.items  %}
                <tr>
                    <td>{{ term }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div style="overflow:auto;" class="col-lg-10 col-md-8 col-sm-6 col-xs-6">
            <table class="border-table">

                <tr>
                    {% for header in headers  %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>

                {% for term, props in vsm.items  %}
                    <tr>
                        {% for t, p in props.items  %}
                            {% if t == 'tf' or t == 'tfidf' %}
                                {% for num in p %}
                                    <td>{{ num }}</td>
                                {% endfor %}
                            {% else %}
                                <td>{{ p }}</td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    {% else %}

    <div class="col-lg-12">
        <div class="block">
            <p class="obs">Select a collection or upload a new one <a href="{% url 'home' %}">here</a>.</p>
        </div>
    </div>

    {% endif %}


{% endblock content %}
