{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload de coleção</title>
	<link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <header class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao">
                    <span class="sr-only">Alternar Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TASI</a>
            </header>
            <div class="collapse navbar-collapse" id="barra-navegacao">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Upload de Coleção</a></li>
                    <li><a href="#">Arquivo Invertido</a></li>
                    <li><a href="#">Modelo Vetorial</a></li>
                    <li><a href="#">Similaridades</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <header class="page-header">
            <h1>Upload de Coleção</h1>
        </header>
        <form action=views.upload method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nome">Escolha os arquivos</label>
                <input type="file" class="form-control" name="fileToUpload" id="fileToUpload">
            </div>
            <button type="submit" class="btn btn-default">Upload</button>
        </form>
    </main>

    <footer id="footer">
        <div class="container">
            <span class="text-muted">2018</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>