<!DOCTYPE html>
<html lang="en">
<head>

    {% include "partials/meta.html" %}

    <title>{% block title %}{% endblock title %} | VIRS</title>

    {% include "partials/styles.html" %}
    {% block pagestyles %}{% endblock pagestyles %}

</head>

<body>

    <div id="wrapper">
        {% include "partials/messages.html" %}
        {% include "partials/header.html" %}

        <div id="content" class="container">

            {% include 'partials/pageheader.html' %}

            {% block content %}{% endblock content %}

        </div>
    </div>

    {% include "partials/footer.html" %}
    {% include "partials/scripts.html" %}

    {% block pagescripts %}{% endblock pagescripts %}

</body>

</html>